/* <-----------------------------index, DetailPaket, dan DetailWisata-----------------------------------------------> */
.custom-container {
    margin-top: -15px; /* Adjust the value as necessary to move the container up */
}

.position-relative {
    position: relative;
}

.img-icon-search {
    position: absolute;
    left: 20px; 
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    pointer-events: none; 
}

.pl-5 {
    padding-left: 35px; 
}

.d-flex {
    display: flex;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-container p {
    margin: 0;
    line-height: 1.2;
}
.text-divider {
    border: 0;
    border-top: 1px solid #000; 
    margin-top: -10px; 
}

.icon-wrapper-first {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background-color: #ccc; 
    margin-top: -5px; 
    margin-left: 5px;
}

.img-left {
    margin-left: 10px;
    margin-right: 10px;
    width: 20px; 
    height: 20px; 
}

.card {
    margin-right: 20px; 
}

.card-img-top {
    object-fit: cover; 
    height: 200px; 
}

.card-body-detail {
    display: flex;
    align-items: center;
}

figure {
    margin-bottom: -10px;
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%; 
}

.icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #ccc; 
    margin: 10px; 
}

.text-container {
    display: flex;
    flex-direction: column;
}

.logo-img {
    max-width: 150px; 
    height: auto; 
}

.card-link {
    color: inherit; 
    text-decoration: none;
}

/* <-----------------------------DetailPaket dan Detail Wisata-----------------------------------------------> */

.carousel-item img {
    width: 100%;
    height: 400px; /* Sesuaikan tinggi yang diinginkan */
    object-fit: cover; /* Memastikan gambar terpotong jika ukuran tidak sesuai */
}

.input-group-append {
    cursor: pointer;
}
